.playlist {
    background-color:rgb(255, 255, 255, .9); /* Or any color you prefer */
    border-radius: 5px;
    padding: 20px;
  }
  
  .playlist h2 {
    margin-bottom: 20px;
  }
  
  .playlist-save,
  .playlist-edit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(28, 186, 83); /* Spotify green */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .playlist-save:hover,
  .playlist-edit:hover {
    background-color: #1ed760;
  }
  
  /* Additional styles for editing state */
  .playlist input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .playlist-name {
    font-size: 2em; /* Makes the text larger and more prominent */
    color: #1db954; /* Spotify green for the text color */
    text-align: center; /* Center-aligns the text */
    margin: 20px 0; /* Adds some space above and below the title */
    font-weight: bold; /* Makes the font bold */
    text-transform: uppercase; /* Capitalize all letters */
    letter-spacing: 1px; /* Increases spacing between letters for a stylistic effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  }

  
  
